<div id="globalLoader">
    <div class="gl-spinner">
        <div class="gl-ring-outer"></div>
        <div class="gl-ring-inner"></div>
    </div>
    <p class="gl-text">Procesando&hellip;</p>
</div>
