body {
    font-family: Arial, sans-serif;
}

.header-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/Images/SogeFEfondoLP.png') no-repeat center center/cover;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.seccion {
    padding: 80px 0;
}
